:root { 
  --quantity: 3; 
  --position: 1; /* Default value */ 
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

.cardContainer {
  position: absolute;
  left: 10%;
  width: 50vw;
  height: 80vh;
  transform-style: preserve-3d;
  perspective: 20000px;
  transition: transform 1s, width 1s, height 1s, left 1s;
}

.cardContainer:hover {
  animation: sideFlip 0.1s linear forwards;
}

@keyframes sideFlip {
  from {
    width: 50vw;
    height: 80vh;
    left: 10%;
    transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
  }
  to {
    width: 40vw;
    height: 60vh;
    left: 20%;
    transform: perspective(20000px) rotateY(-30deg)rotateX(-40deg);
  }
}

.cards {
  position: absolute;
  inset: 0 0 0 0;
  transition: transform 1s;
}

.cardContainer:hover .cards {
  transform: translateZ(calc((300px / var(--quantity)) * var(--position)));
}
