.bg {
    background: radial-gradient(#0a0a2c, #000000);
}


.glass {
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, .12),
            rgba(255, 255, 255, .12));
}

.text-gradient {
    background: linear-gradient(to right, rgb(138, 191, 234), rgb(92, 209, 241), rgb(6, 61, 225), rgb(138, 191, 234));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}